table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--color-grey-2);
  text-align: left;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: var(--color-grey-1);
}
